.card
{
    position: relative;
    background-color: rgb(248, 255, 254);
    width: 600px;
    padding: 20px;
    height: 45vh;
    max-width: 85vh;
    box-shadow:0px 18px 53px 0px rgba(236, 75, 102, 0.3);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.tinderCards_cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 0vh;
}

.swipe{
    position: absolute;
}

.cardContent{
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: lavenderblush;
}